/*header*/
.box{
  background-color: #4EA1FF;
  background-image: url(../img/pattern.png);
  background-size: contain;
}
.logo{
height: 40px;
width: 158px;
}

.info-utili{
  color:#878787;
}

.autore{
  font-size: 15px;
}

.data{
  font-size: 10px;
}

.autore span{
  color: #73BEDB;
}
/* /header*/

/*main*/
.didascalia{
  font-size: 10px;
}

.testo1 span{
  background-color: #FBFF00;
}

thead{
  font-weight: 900;
  background-color: #20A9E9;
  color: aliceblue;
}

tbody .riga-dispari{
  background-color: #9FCFD8;
}


.testo2 span{
  background-color: #FBFF00;
}

/*footer*/
.consigli{
  color: #878787;
  font-weight: 900;
}

.box-consigli1{
  background-image: url(../img/monitor.jpg);
  height: 140px;
  width: 180px;
}

.box-consigli1 p{
  color: beige;
  font-weight: 900;
}
.box-consigli2{
  background-image: url(../img/graph.jpg);
  height: 140px;
  width: 180px;
}

.box-consigli2 p{
  color: beige;
  font-weight: 900;
}
/* /footer*/